.prompt .game-body {
    line-height: 20px;
}

.prompt input {
    width: 85%;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    padding: 5px;
}

.prompt button {
    width: 100px;
    height: 50px;
    margin: 20px;
    border-radius: 5px;
}